h6{
    border: 10px solid rgb(1, 14, 26);
    font-size: 60px; 
    color: rgb(255, 255, 255); 
    background-color:rgb(16, 107, 119);
    text-align: center;
}

#titulo62{
    color:rgb(230, 230, 230)
}

small{
    font-size: 30px;
}

#miDIv{
    background-image: url("");
}

#miDIv{
    border: 10px solid rgb(5, 65, 82);
}
